<div id="about">
  <h1 class = "section-title">About Me</h1>
  <div id="about-content">
    <img src="../../../assets/profile_image_purple.png" id="my-image">
    <div class="self-introduction">
      <p>I am a software developer with experience in FullStack
        Development, Mobile App developement. Intrested in
        exploring new technologies and Gadgets.</p>
      <a href="../../../assets/Apoorv-Resume.pdf" download = "ApoorvVermaResume.pdf" class="btn btn-danger">Download CV</a>
    </div>
  </div>
</div>
