#about{
  padding: 40px;
}


.btn-danger {
  border-radius: 50px;
}


#about-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.self-introduction{
  max-width: 600px;
  padding: 1.5rem;
  border-radius: 25px;
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}

@media only screen and (max-width: 768px){
   .self-introduction:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      position: absolute;
      left: 50%;
      top: -10px;
      transform: translateX(-7.5px);
}
}

@media only screen and (min-width: 768px)
{
  .triangle-left-md:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    left: 0;
    top: 20%;
}
}

*, *::before, *::after {
    box-sizing: border-box;
}
