<div id="profile-picture">
  <img src="../../../assets/profile_image.png" id="my-image" />
</div>
<div class="info">

  <div id="name">APOORV VERMA</div>

  <div id="description">
    <span>Software Developer 🧑‍💻</span>
  </div>

  <div class="social-links">
    <a href="https://www.instagram.com/apoorvverma_">
      <fa-icon [icon]="instagramIcon"></fa-icon>
    </a>
    <a href="https://github.com/Sunnyverma81201">
      <fa-icon [icon]="githubIcon"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/apoorv-verma-397782195">
      <fa-icon [icon]="linkedInIcon"></fa-icon>
    </a>
    <a href="https://www.twitter.com/ApoorvV72752070">
      <fa-icon [icon]="twitterIcon"></fa-icon>
    </a>
  </div>

  <div id="email">
    <fa-icon [icon]="emailIcon"></fa-icon>
    &ensp;
    <a href="mailto:vermasunny224@gmail.com">vermasunny224@gmail.com</a>
  </div>
</div>

<div id="logo">
  <img src = "../../assets/ApoorvLogo.svg" height="40px">
</div>
